body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav > a{
  padding: 10px;
  background-color: grey;
}

figcaption {
  font-size: smaller;
}

#featured-property p {
  padding: 2em;
}
#details div {
  float: left;
  background-color: aquamarine;
  width: 25%;
}